get-video-audio/statemachine/state-machine.asl.yml
Comment: Audio to text from a file in Spanish (Part 3)
StartAt: Get File
States:
  Get File:
    Next: StartSpeechSynthesisTask
    Type: Task
    ResultPath: $.body
    ResultSelector:
      filecontent.$: $.Body
    Resource: 'arn:aws:states:::aws-sdk:s3:getObject'
    Parameters:
      Bucket.$: $.detail.bucket.name
      Key.$: $.detail.object.key

  StartSpeechSynthesisTask:
    Type: Task
    Next: Wait
    Parameters:
      Engine: neural
      OutputFormat: mp3
      OutputS3BucketName: ${AudioTextBucket}
      Text.$: $.body.filecontent
      TextType: text
      OutputS3KeyPrefix: audio
      VoiceId: Mia
    ResultPath: $.taskResult
    Resource: 'arn:aws:states:::aws-sdk:polly:startSpeechSynthesisTask'

  Wait:
    Next: GetSpeechSynthesisTask
    Seconds: 60
    Type: Wait

  GetSpeechSynthesisTask:
    Type: Task
    Next: SpeechSynthesisTaskStatus
    Parameters:
      TaskId.$: $.taskResult.SynthesisTask.TaskId
    ResultPath: $.taskResult
    Resource: 'arn:aws:states:::aws-sdk:polly:getSpeechSynthesisTask'

  SpeechSynthesisTaskStatus:
    Choices:
      - Variable: $.taskResult.SynthesisTask.TaskStatus
        StringEquals: completed
        Next: MakeDubbedVideo
      - Variable: $.taskResult.SynthesisTask.TaskStatus
        StringEquals: failed
        Next: Failed
    Default: Wait
    Type: Choice

  Failed:
    Cause: transcription job failed
    Error: FAILED
    Type: Fail

  MakeDubbedVideo:
    Type: Task
    Next: FormatURI
    Parameters:
      Payload.$: $
      FunctionName: ${MakeVideoFunction}
    Resource: 'arn:aws:states:::lambda:invoke'

  FormatURI:
    Type: Pass
    Next: GetSignedURL
    InputPath: $.Payload
    Parameters:
      uri.$: States.Format('https://s3.{}.amazonaws.com/${ResultBucketName}/{}', $.region, $.newVideoName)
    ResultPath: $

  GetSignedURL:
    Type: Task
    Next: SendNotification
    Parameters:
      Payload.$: $
      FunctionName: ${GetSignedUrlFunction}
    Resource: 'arn:aws:states:::lambda:invoke'
    ResultPath: $.Payload

  SendNotification:
    Type: Task
    Resource: 'arn:aws:states:::sns:publish'
    Parameters:
      TopicArn: ${NotificationTopic}
      Message:
        result: 'The video finalized.'
        video.$: '$.Payload.Payload'
    Next: Completed

  Completed:
    Type: Succeed
