make-video/statemachine/state-machine.asl.yml
Comment: Transcribe a Video in English (Part 1)
StartAt: MakeDubbedVideo
States:
  MakeDubbedVideo:
    Type: Task
    Next: FormatURI
    Parameters:
      Payload.$: $
      FunctionName: ${MakeVideoFunction}
    Resource: 'arn:aws:states:::lambda:invoke'

  FormatURI:
    Type: Pass
    Next: GetSignedURL
    InputPath: $.Payload
    Parameters:
      uri.$: States.Format('https://s3.{}.amazonaws.com/${ResultBucketName}/{}', $.region, $.newVideoName)
    ResultPath: $

  GetSignedURL:
    Type: Task
    Next: SendNotification
    Parameters:
      Payload.$: $
      FunctionName: ${GetSignedUrlFunction}
    Resource: 'arn:aws:states:::lambda:invoke'
    ResultPath: $.Payload

  SendNotification:
    Type: Task
    Resource: 'arn:aws:states:::sns:publish'
    Parameters:
      TopicArn: ${NotificationTopic}
      Message:
        result: 'Dubbed finalized'
        transcription.$: '$.Payload.Payload'
        command.$: States.Format('aws s3 cp {} s3://${ResultBucketName}/', States.ArrayGetItem(States.StringSplit($.uri, '/'),3))
    Next: Completed

  Completed:
    Type: Succeed
